@model IEnumerable<HospitalSystem.Data.Identity.ApplicationUser>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="bio-row">
            <p><span>Ad-Soyad </span>: @item.NameLastname</p>
        </div>
        <div class="bio-row">
            <p><span>Kullanıcı Adı </span>: @item.UserName</p>
        </div>
        <div class="bio-row">
            <p><span>Doğum Tarihi</span>: @item.Birthdate</p>
        </div>
        <div class="bio-row">
            <span>Başlangıç Tarihi</span>: @item.HireDate
        </div>
        <div class="bio-row">
            <span>Görevi</span>: @item.RespondTitle
        </div>
        <div class="bio-row">
            <p><span>Cinsiyet </span>: @item.Gender</p>
        </div>
        <div class="bio-row">
            <p><span>E-Mail Adres </span>: @item.Email</p>
        </div>
        <div class="bio-row">
            <p><span>Telefon No </span>: @item.PhoneNumber</p>
        </div>
    </div>
}

