@using PagedList
@using PagedList.Mvc
@model IPagedList<HospitalSystem.Data.Identity.ApplicationUser>
@{
    ViewBag.Title = "Admin Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title || <a href="~/Admin/Index" class="btn btn-primary btn-xs">Admin Anasayfası</a> || <a href="~/Account/Register" class="btn btn-success btn-xs">Yeni Admin Kaydı</a> || <a href="~/Account/RegisterAsistant" class="btn btn-info btn-xs">Asistan Admin Kaydı</a> || <a href="~/Account/RegisterHelper" class="btn btn-warning btn-xs">Yardımcı Admin Kaydı</a> || <a href="~/Account/RegisterUser" class="btn btn-default btn-xs">Sistem Kullanıcısı Kaydı</a>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Adı-Soyadı</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Görevi</th>
                                        <th>Doğum Tarihi - Başlama Tarihi</th>
                                        <th>Cinsiyeti</th>
                                        <th>Mail Adresi</th>
                                        <th>Telefon No</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.NameLastname</td>
                                            <td>@item.UserName</td>
                                            <td>@item.RespondTitle</td>
                                            <td>@item.Birthdate - @item.HireDate</td>
                                            <td>@item.Gender</td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>
                                                <a href="~/Account/ChangePassword" class="btn btn-success btn-xs">Şifre Değiştir</a>
                                                <a href="~/Admin/Delete" class="btn btn-danger btn-xs">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Adı-Soyadı</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Doğum Tarihi - Cinsiyeti</th>
                                        <th>Doğum Tarihi - Başlama Tarihi</th>
                                        <th>Mail Adresi</th>
                                        <th>Telefon No</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pagination">
                                <div class="paginate_active">
                                    @Html.PagedListPager(Model, Page => Url.Action("AdminList", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>