@using PagedList
@using PagedList.Mvc
@model IPagedList<HospitalSystem.Entities.Models.Doctor>
@{
    ViewBag.Title = "Doktor Onay Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title || <a href="~/Doctor/Index" class="btn btn-primary btn-xs">Doktor Listesi</a>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th width="90">Resim</th>
                                        <th>Adı-Soyadı</th>
                                        <th>Kimlik No</th>
                                        <th>Doğum Tarihi - Başlama Tarihi</th>
                                        <th>Ünvanı - Bölümü</th>
                                        <th>Eklenme Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td width="90"><img src="~/img/doctor/@item.Photo" class="img-responsive" /></td>
                                            <td>@item.NameSurname</td>
                                            <td>@item.IdentityNo</td>
                                            <td>@item.Birthdate.ToShortDateString() - @item.Hiredate.ToShortDateString()</td>
                                            <td>@item.Title.Name - @item.Departman.Name</td>
                                            <td>@item.CreatedDate.ToShortDateString()</td>                                           
                                            <td>
                                                <a href="~/Doctor/DoctorConfirm/@item.Id" class="btn btn-success btn-xs">Onayla</a>
                                                <a href="~/Doctor/Delete/@item.Id" class="btn btn-danger btn-xs">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th width="90">Resim</th>
                                        <th>Adı-Soyadı</th>
                                        <th>Kimlik No</th>
                                        <th>Doğum Tarihi - Başlama Tarihi</th>
                                        <th>Ünvanı - Bölümü</th>
                                        <th>Eklenme Tarihi</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pagination">
                                <div class="paginate_active">
                                    @Html.PagedListPager(Model, Page => Url.Action("DoctorConfirmList", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>